<div class="col-md-6 col-md-offset-3">
  <h3>Please Log In</h3> 
  <%= form_tag do %>
    <div>
      <%= label_tag :name, 'Name:' %>
      <%= text_field_tag :name, params[:name] %>
      <div>
        <%= label_tag :password, 'Password:' %>
        <%= password_field_tag :password, params[:password] %>
      </div> 
      <br>
      <div>
        <%= submit_tag "Log In", class: 'btn btn-primary' %> 
      </div>
    <% end %>
  </div>
</div>


