<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Please Log In</h3>
    </div>
    <div class="panel-body content-panel">
      <%= form_tag do %>
      <div>
        <%= label_tag :name, 'Name:' %>
        <%= text_field_tag :name, params[:name] %>
      </div>
      <div>
        <%= label_tag :password, 'Password:' %>
        <%= password_field_tag :password, params[:password] %>
      </div> 
      <hr>
      <%= submit_tag "Log In", class: 'btn btn-sm btn-primary' %> 
    </div>
    <% end %>
  </div>
</div>



