<%= simple_form_for @user, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
    
<%= render 'shared/error_messages', object: f.object %>
    
<%= f.input :name, error: false %>    

<%= f.input :password, error: false %>

<%= f.input :password_confirmation, error: false %>

<span class="row_buttons">
  <%= f.button :submit, class: 'btn btn-primary' %>
  <%= link_to 'Cancel', users_path, class: 'btn btn-default' %>
</span>
<% end %>
