<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3><%= title %></h3>
    </div>
    <div class="panel-body content-panel">
      
      <%= simple_form_for @user, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
    
      <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.input :name, label: t('users.label.name'), error: false %>    
      <%= f.input :password, label: t('users.label.password'), error: false %>
      <%= f.input :password_confirmation, label: t('users.label.password_confirmation'), error: false %>

      <hr>
      
      <%= f.button :submit, label: t('users.action.create'), class: 'btn btn-sm btn-primary' %>
      <%= link_to t('action.cancel'), users_path, class: 'btn btn-sm btn-default' %>
    </div>
    <% end %>
  </div>
</div>
