<div class="content-filter">
  <% if session[:brands_filter].present? && session[:brands_filter].count >0 %>
  <%= t('brands.title') %> 
  <div class="btn-group">
    <% session[:brands_filter].each do |item| %>
    <% @brand_name = Brand.find(item)%>
    <%= link_to @brand_name.name, remove_filter_brands_path(item), class: 'btn btn-xs btn-default' %>
    <% end %>
    <%= link_to 'Remove All', remove_all_filters_brands_path, class: 'btn btn-xs btn-warning' %>
  </div>
  <% end %>
</div>
<div class="container content-filter">
  <% if session[:sections_filter].present? && session[:sections_filter].count >0 %>
  Sections Filter: 
  <div class="btn-group">
    <% session[:sections_filter].each do |item| %>
    <%= link_to item, remove_filter_sections_path(item), class: 'btn btn-xs btn-default' %>
    <% end %>
    <%= link_to 'Remove All', remove_all_filters_sections_path, class: 'btn btn-xs btn-warning' %>
  </div>
  <% end %>
</div>

