<div class="content-filter">
  <% if session[:brands_filter].present? && session[:brands_filter].count >0 %>
  <%= t('brands.title') %> 
  <div class="btn-group">
    <% session[:brands_filter].each do |item| %>
    <% @brand_name = Brand.find(item)%>
    <%= link_to @brand_name.name, remove_filter_brands_path(item), class: 'btn btn-xs btn-default' %>
    <% end %>
    <%= link_to t('action.remove_all'), remove_all_filters_brands_path, class: 'btn btn-xs btn-warning' %>
  </div>
  <% end %>
</div>
<div class="content-filter">
  <% if params[:tag] %>
  <%= t('general.category') %>
  <div class="btn-group"> 
  <%= link_to params[:tag], products_path, class: 'btn btn-xs btn-default' %>
  <%= link_to t('action.remove'), products_path, class: 'btn btn-xs btn-warning' %> 
</div>
  <% end %>
</div>


