<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3><%= title %></h3>
    </div>
    <div class="panel-body content-panel">
      
      <%= simple_form_for @brand, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
    
      <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.input :name, label: t('brands.label.brand'), error: false %>    
      <%= f.label t('brands.label.image') %>
      <%= f.file_field :photo, class: 'filestyle' %>
      <%= image_tag @brand.photo.url(:thumb) if @brand.photo_file_name %>

      <%= f.error :base %>

      <hr>
      
      <%= f.button :submit, label: t('brands.action.create'), class: 'btn btn-sm btn-primary' %>
      <%= link_to t('action.cancel'), brands_path, class: 'btn btn-sm btn-default' %>
    </div>
    <% end %>
  </div>
</div>

