<div class="page-header">
  <h1>Brand Details</h1>
</div>
<dl class="dl-horizontal">
  <dt><strong>Brand:</strong></dt>
  <dd><%= @brand.name %></dd>
  <dt><strong>Image:</strong></dt>
  <dd id="photo_row"><div class="thumbnail"><%= image_tag(@brand.photo.url(:medium)) unless @brand.photo.nil? %></div></dd>
</dl>
<span class="row_buttons">
  <%= link_to 'Back', brands_path, class: 'btn btn-default' %>
  <%= link_to 'Edit', edit_brand_path(@brand), class: 'btn btn-primary' %>
  <%= link_to 'Delete', brand_path(@brand), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
</span>