<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Brand Details</h3>
    </div>
    <div class="panel-body content-panel">
      <dl class="dl-horizontal">
        <dt><strong>Brand:</strong></dt>
        <dd><%= @brand.name %></dd>
        <dt><strong>Image:</strong></dt>
        <dd id="photo_row"><div class="thumbnail"><%= image_tag(@brand.photo.url(:medium)) unless @brand.photo.nil? %></div></dd>
      </dl>
      <hr>
      <%= link_to 'Brands List', brands_path, class: 'btn btn-sm btn-default' %>
      <%= link_to 'Edit', edit_brand_path(@brand), class: 'btn btn-sm btn-primary' %>
      <%= link_to 'Delete', brand_path(@brand), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
    </div>
  </div>
</div>