<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3><%= title %></h3>
    </div>
    <div class="panel-body content-panel">

      <%= simple_form_for @product, :html => { :class => 'form-inline', :multipart => true } do |f| %>

      <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.input :title, label: t('products.label.product'), error: false %>
      <%= f.input :part_number, label: t('products.label.part_number') %>
      <%= f.association :brand, label: t('products.label.brand'), error: false %>
      <%= f.input :description, label: t('products.label.description'), as: :text, input_html: { rows: 8 } %>
      <%= f.input :link_product, label: t('products.label.link_product') %>
      <%= f.input :min_price, label: t('products.label.min_price'), input_html: { class: 'price-field' } %>
      <%= f.input :price, label: t('products.label.price'), input_html: { class: 'price-field' } %>
      <%= f.input :offer_price, label: t('products.label.offer_price'), input_html: { class: 'price-field' } %>
      <%= f.input :offer, label: t('products.label.offer'), collection: [[t('booleans.true_value'),true] ,[t('booleans.false_value'),false]], input_html: { class: 'boolean-field' } %>
      <%= f.input :promotion, label: t('products.label.promotion'), collection: [[t('booleans.true_value'),true] ,[t('booleans.false_value'),false]], input_html: { class: 'boolean-field' } %>
      <%= f.input :tag_list, label: t('products.label.categories'), hint: t('products.label.categories_hint') %>
      <%= f.label t('products.label.image') %>
      <%= f.file_field :photo, class: 'filestyle' %>
      <%= image_tag @product.photo.url(:thumb) if @product.photo_file_name %>

      <%= f.error :base %>
      
      <br>

      <%= f.button :submit, class: 'btn btn-sm btn-primary' %>
      <%= link_to t('action.cancel'), products_path, class: 'btn btn-sm btn-default' %>
    </div>
    <% end %>
  </div>
</div>


