<table>
	<%= div_for product do %>
	<dl>
		<h3>
			<%= link_to product.title, product %>
			<span class='actions'>
				<%= link_to "Edit", edit_product_path(product) %>
				<%= link_to "Delete", product, confirm: "Are you sure?", method: :delete %>
			</span>
		</h3>
	</dl>
	<dl>
		<td>
			<% product.images.each do |image| %>
			<%= image_tag(image.url, class: 'main_image', width:"160", height:"160") if image.use=='main' %>
			<% end %>
		</td>
		<td>
			<%= product.description %>
			<br><br>
			<spam class='categories'>
				Categories:        
				<% product.categories.each do |category| %>
				  <%= category.name %>
				<% end %>
			</spam>
		</td>
	</dl>
	<% end %>
</table>
  <% render @product.images %>
    <% render @product.images %>
    
    <%= render :file => 'images/new' %>