<div class="col-sm-12 filters">
  <%= render 'shared/filters' %>
</div>
<div class="col-sm-2">
  <h2><%= t('products.promotion.title') %></h2>
  <%= render partial: 'promo' %>
</div>
<div class="col-sm-8">
  <%= will_paginate %>
  <table class="table table-striped">
    <tbody>
      <% @products.each do |product| %>
      <tr>
        <td class='col-md-2 col-sm-3 col-xs-4'>
          <div class="thumbnail">
            <%= link_to image_tag(product.photo.url(:thumb)), product_path(product) %>
          </div>
        </td>
        <td><strong><%= product.title %></strong><br>
          <strong>(<%= product.brand.name unless product.brand.nil? %>)</strong><br>
          <%= simple_format(truncate(product.description, length: 180), {}, wrapper_tag: "span") %><br>
          <%= number_to_currency(product.price) %>
          <% if product.offer %>
          <span class="offer">
            <br>
            <%= number_to_currency(product.offer_price) %>
            - <%= t('products.label.sale')%>
          </span>
          <% end %>
          <% if session[:user_id] %>
          <br>
          <div class="btn-group btn-to-right">
            <%= link_to t('action.edit'), edit_product_path(product), class: 'btn btn-xs btn-default' %>
            <%= link_to t('action.delete'), product_path(product), method: :delete, data: { confirm: t('action.confirm') }, class: 'btn btn-xs btn-danger' %>
          </div>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="will-paginate">
    <%= will_paginate %>
  </div>
  <% if session[:user_id] %>
  <hr>
  <%= link_to t('products.action.new'), new_product_path, class: 'btn btn-sm btn-primary' %>
  <% end %>
</div>
<div class="col-sm-2">
  <h2><%= t('general.categories') %></h2>
  <% tag_cloud Product.tag_counts, %w[css1 css2 css3 css4] do |tag, css_class| %>

  <%= link_to tag.name, products_path(search: params[:search],tag: tag.name, brand: params[:brand]), class: css_class %>
    
  <% end %>
  <h2><%= t('brands.title') %></h2>
  <%= render @brands %>
</div>



