<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3><%= t('.title') %></h3>
    </div>
    <div class="panel-body content-panel">
      <dl class="dl-horizontal show-record">
        <%= row_title t('products.label.product') %>
        <%= row_content @product.title %>
        <%= row_title t('products.label.part_number') %>
        <%= row_content @product.part_number %>
        <%= row_title t('products.label.brand') %>
        <%= row_content @product.brand.name unless @product.brand.nil? %>
        <dd class="image-row"><%= image_tag(@product.photo.url(:medium)) %></dd>
        <%= row_title t('products.label.description') %>
        <%= row_content simple_format(@product.description) %>
        <%= row_title t('products.label.price') %>
        <%= row_content number_to_currency(@product.price) %>
        <% if @product.offer %>
          <%= row_title t('products.label.offer_price') %>
          <%= row_content content_tag :div, number_to_currency(@product.offer_price), class: 'offer' %>
        <% end %>
        <% if session[:user_id] %>
          <%= row_title t('products.label.min_price') %>
          <%= row_content number_to_currency(@product.min_price) %>
          <%= row_title t('products.label.offer') %>
          <% if @product.offer %>
            <%= row_content t('booleans.true_value') %>
          <% else %>
            <%= row_content t('booleans.false_value') %>
          <% end %>
          <%= row_title t('products.label.promotion') %>
            <% if @product.promotion %>
              <%= row_content t('booleans.true_value') %>
            <% else %>
              <%= row_content t('booleans.false_value') %>
            <% end %>
          <% end %>
        <%= row_title t('products.label.categories') %>
        <%= row_content @product.tag_list %>
      </dl>
      <hr>
      <%= link_to t('products.action.list'), products_path, class: 'btn btn-sm btn-default' %>
      <% if @product.brand.nil? %>
      <%= link_to t('contacts.action.info'), new_contact_path(product: "#{@product.title}: "), class: 'btn btn-sm btn-success' %>
      <% else %>
            <%= link_to t('contacts.action.info'), new_contact_path(product: "#{@product.brand.name} - #{@product.title}: "), class: 'btn btn-sm btn-success' %>
      <% end %>
      <% if session[:user_id] %>
      <%= link_to t('action.edit'), edit_product_path(@product), class: 'btn btn-sm btn-primary' %>
      <%= link_to t('action.delete'), product_path(@product), method: :delete, data: { confirm: t('action.confirm') }, class: 'btn btn-sm btn-danger' %>
      <% end %>
    </div>
  </div>
</div>
