<%= form_for([@product, @product.images.new]) do |f| %>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :use %><br />
    <%= f.text_field :use %>
  </div>
  <div class="actions">
    <%= f.submit 'Add' %>
  </div>
<% end %>