<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <strong><%= link_to CONFIG[:store_name], root_path, class: 'navbar-brand' %></strong>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t('products.promotion.title'), products_promotion_path %></li>
        <li><%= link_to t('products.title'), products_path %></li>
        <li><%= link_to t('contacts.new.title'), new_contact_path %></li>
        <% if session[:user_id] %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to t('brands.title'), brands_path %></li>
              <li class="divider"></li>
              <li><%= link_to t('contacts.title'), contacts_path %></li>
              <li class="divider"></li>
              <li><%= link_to t('users.title'), users_path %></li>
            </ul>
          </li>
          <li><%= link_to "LogOut", logout_path %></li>
        <% else %>
         <li><%= link_to "LogIn", login_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
